extends base

block content
 section.ftco-section.ftco-cart
  .container.anaContainter
    .row
      .col-md-12.ftco-animate
        .cart-list
          table.table
            thead.thead-primary
              tr.text-center
                th &nbsp;
                th &nbsp;
                th Ürün İsmi
                th Fiyat
                th Miktar
                th Toplam
            tbody
             each urun in urunler 
              tr.text-center
                td.product-remove
                  a.sepettenKaldir(href='#' data-id=`${urun.yemek.id}` data-fiyat=`${urun.yemek.fiyat}`)
                    span.ion-ios-close
                td.image-prod
                  .img(style='background-image:url(images/product-3.jpg);')
                td.product-name
                  h3= urun.yemek.baslik
                  p= urun.yemek.aciklama
                td.price $#{urun.yemek.fiyat}
                td.quantity
                  .input-group.mb-3
                    input.quantity.form-control.input-number(type='text' name='quantity' value=`${urun.sayi}` data-fiyat=`${urun.yemek.fiyat}` data-id=`${urun.id}`)
                    input(type="hidden" value=`${urun.yemek.stok}` class='stokSayi')
                td.total= `$${urun.yemek.fiyat * urun.sayi}`
        
    .row.justify-content-end
      .col-lg-4.mt-5.cart-wrap.ftco-animate
        .cart-total.mb-3
          h3 Adresinizi Giriniz
          p Kargo için adresini giriniz. Ödemeden sonra kargo bilgileriniz bize ulşaır.
          form.info(action='#')
            .form-group
              label(for='') Şehir
              input.form-control.text-left.px-3(type='text' placeholder='' id='sehir')
            .form-group
              label(for='country') İlçe
              input.form-control.text-left.px-3(type='text' placeholder='' id='ilce')
            .form-group
              label(for='country') Tam adresiniz
              input.form-control.text-left.px-3(type='text' placeholder='' id='adres')
            .form-group
              label(for='country') Posta kodunuzu giriniz
              input.form-control.text-left.px-3(type='text' placeholder='' id='zip')  
        p
      .col-lg-4.mt-5.cart-wrap.ftco-animate
        .cart-total.mb-3
          h3 Sepet Toplamı
          p.d-flex
            span Alt Toplam
            span.altToplam= `$${toplam}`
          p.d-flex
            span Kargo Ücreti
            span $2.00
          p.d-flex
            span İndirim
            span $0.00
          hr
          p.d-flex.total-price
            span Toplam
            span.genelToplam= `$${toplam + 2}`
        p.odemeBut
          a.btn.btn-primary.py-3.px-4(href='#' id='odemeButon') Ödeme Yap
          a.btn.btn-danger.py-3.px-4.d-none(href='#' id='iptalButon') İptal Et


      .col-lg-4.mt-5.cart-wrap.ftco-animate
        div#iyzipay-checkout-form.responsive    
           

