extends base

block content
 section.ftco-section
  .container
    .row
     each yemek in yemekler
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src=`/resimler/yemekler/${yemek.resim}` alt='Colorlib Template')
            span.status 
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#')= yemek.ad
            .d-flex
              .pricing
                p.price
                  span.mr-2 Kilosu
                  span.price-sale= `$${yemek.fiyat}`
            .bottom-area.d-flex.px-3
              
              .m-auto.d-flex(data-id=`${yemek.id}` data-giris=`${user ? 'true' : 'false'}` class=`${user ? 'yemekId' : ''}`)
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span 
                    if user
                      i.ion-ios-heart-empty.likeButon(class=`${begeniler.includes(yemek.id) ? 'd-none' : '' }`)
                      i.ion-ios-heart.dislikeButon(class=`${begeniler.includes(yemek.id) ? '' : 'd-none' }`)
                    else
                      i.ion-ios-heart-empty


    -if(yemekler.length <= 0)
      h2 Üzgünüz, aradığınızı bulamadık..
    -if(yemekler.length > 0)   
     .row.mt-5
      .col.text-center
        .block-27
          ul
            -for(let i=1; i<=toplam; i++)    
              li(class = `${sayfa == i ? 'active' : ''}`)
                a(href=`/urunler/${i}`)= i
            li
             -if(sayfa < toplam)
              a(href=`/urunler/${parseInt(sayfa) + 1}`) &gt;
  #ftco-loader.show.fullscreen
    svg.circular(width='48px' height='48px')
        circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
        circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')